<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brooklyn's Cafe Menu</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header class="header">
      <p id="date-time">...</p>
      <div class="logo">
        <i class="fa-solid fa-utensils"></i>
        <i class="fa-solid fa-spoon"></i>
      </div>
      <h1>Welcome to Brooklyn's Cafe</h1>
      <p>Here is our menu</p>
      <a href="#menu" class="menu-btn"> View Menu </a>
    </header>

    <!-- ================= MENU ================= -->

    <main id="menu">
      <div id="notification"></div>

      <div id="cart-btn-container">
        <button id="cart-btn">
          <i class="fa-solid fa-cart-shopping"></i
          ><span id="cart-count" class="cart-count hidden">0</span>
        </button>
      </div>

      <div class="filter-buttons">
        <button onclick="filterMenu('All')">All</button>
        <button onclick="filterMenu('Ethiopian')">Ethiopian</button>
        <button onclick="filterMenu('International')">International</button>
        <button onclick="filterMenu('Drinks')">Drinks</button>
      </div>
      <div id="menu-container"></div>

      <!-- Dialogs -->

      <section id="cart-dialog">
        <div class="cart" id="cart">
          <button class="close-dialog" id="close-cart">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div id="cart-header">
            <h2>your cart</h2>
            <p>Pleace check your selected items then checkout</p>
          </div>
          <div id="cart-items"></div>
          <div id="cart-footer">
            <span id="cart-total">Total: <strong>0 ETB</strong></span>
            <button id="checkout-btn">Checkout</button>
          </div>
        </div>

        <div class="confirm-checkout cart" id="confirm-dialog">
          <button class="close-dialog" id="close-summery">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <h4>Are you sure you want to order the following foods</h4>
          <div id="checkout-list"></div>

          <div class="summery-total-container">
            Total:<strong id="summery-total"></strong>
          </div>
          <div class="summery-footer">
            <button class="btn" id="cancel">Cancel</button>
            <button class="btn" id="order">Order</button>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <h2>Brooklyn's Cafe</h2>
      <p>Addis Ababa, Ethiopia</p>
      <p>+251 900 000 000</p>
      <p>Open Daily: 8:00 AM - 10:00 PM</p>
      <div class="social">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-tiktok"></i>
      </div>
      <p>© 2026 Brooklyn's Cafe. All Rights Reserved.</p>
    </footer>

    <script src="/static/object.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/dateTime.js"></script>
  </body>
</html>
